.Toastify__progress-bar--success {
  background: #556132 !important;
}

.Toastify__progress-bar--error {
  background: #8c3a3a !important;
}

.Toastify__toast--success .Toastify__toast-icon svg {
  fill: #556132 !important;
}

.Toastify__toast--error .Toastify__toast-icon svg {
  fill: #8c3a3a !important;
}
